.title {
    background-image: url('/img/Grayskull_Wide.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 280px;
    text-align: center;
    vertical-align: center;
    font-family: 'Kelly Slab', cursive;
    color: #fff;
    text-shadow: 0 0 5px #000;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 1.7em;
}

.title p {
    font-size: 1.1em;
}

img {
    margin: 0;
}