.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(83, 83, 83);
  min-height: 65px;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff;
  font-size: 1.2em;
  z-index: 99;
  white-space: nowrap;
}

.nav-bar a {
  color: #fff;
}

.nav-bar a:hover {
  color: #fff;
  background-color: #5133a4 !important;
}

nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
  /* text-align: center; */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.justify-content {
    display: flex;
    justify-content: space-around;
}

.desc-normal {
  color: #fff;
}

.desc-correct {
  color: #0f0;
}

.desc-incorrect {
  color: #f00;
}

@media only screen and (max-width: 750px) {
  #cur-sco,
  #top-sco {
    font-size: 2rem;
  }
}
